/*
    Archivo: mipagina.css
    Autor: Alejandro Cruz
    Fecha: 06/06/2024
    Descripción: Estilos para la página personal.
*/
/* Estilos generales */

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#title {
    text-align: center;
    color: white;
    font-size: 50px;
    background-color: #222;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#descripcion {
    color: white;
    font-size: 20px;
    text-align: left;
    margin: 20px;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #222;
    margin: 25px 0;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#portada {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
}

#portada:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

h2 {
    color: white;
    font-size: 30px;
    margin: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    text-align: center;
}

#personajes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.personaje_derecha, .personaje_izquierda {
    background-color: #333;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.personaje_izquierda {
    margin-left: 80px;
    margin-right: auto;
    flex-direction: row-reverse;
    text-align: left;
}

.personaje_derecha {
    margin-left: auto;
    margin-right: 80px;
    text-align: right;
}

.personaje_izquierda img,
.personaje_derecha img {
    max-width: 120px;
    height: auto;
    margin-left: 20px;
    border-radius: 8px;
}


